*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--primary: #61dafb;
	--secondary: #282c34;
	--dark: #20232a;
	--light: #ffffff;
}

body {
	margin: 0;
	height: 100%;
}

html {
	height: 100%;
}
